<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.finance.mapper.FinMonitoringcompaniesMapper">
    
    <resultMap type="FinMonitoringcompanies" id="FinMonitoringcompaniesResult">
        <result property="id"    column="id"    />
        <result property="corpCode"    column="corp_code"    />
        <result property="corpName"    column="corp_name"    />
        <result property="backMonth"    column="back_month"    />
        <result property="currentArrears"    column="current_arrears"    />
        <result property="contactSituation"    column="contact_situation"    />
        <result property="addTime"    column="add_time"    />
    </resultMap>

    <sql id="selectFinMonitoringcompaniesVo">
        select id, corp_code, back_month, current_arrears, contact_situation, add_time from fin_monitoringcompanies
    </sql>

    <select id="selectFinMonitoringcompaniesList" parameterType="FinMonitoringcompanies" resultMap="FinMonitoringcompaniesResult">
        select a.id, a.corp_code, a.back_month, a.current_arrears, a.contact_situation, a.add_time,b.corp_name from fin_monitoringcompanies a
         left join mar_company b on a.corp_code=b.corp_code
        <where>  
            <if test="corpCode != null  and corpCode != ''"> and a.corp_code = #{corpCode}</if>
            <if test="backMonth != null  and backMonth != ''"> and a.back_month = #{backMonth}</if>
            <if test="currentArrears != null  and currentArrears != ''"> and a.current_arrears = #{currentArrears}</if>
            <if test="contactSituation != null  and contactSituation != ''"> and a.contact_situation = #{contactSituation}</if>
            <if test="addTime != null "> and a.add_time = #{addTime}</if>
        </where>
    </select>
    
    <select id="selectFinMonitoringcompaniesById" parameterType="Integer" resultMap="FinMonitoringcompaniesResult">
        <include refid="selectFinMonitoringcompaniesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinMonitoringcompanies" parameterType="FinMonitoringcompanies" useGeneratedKeys="true" keyProperty="id">
        insert into fin_monitoringcompanies
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corpCode != null">corp_code,</if>
            <if test="backMonth != null">back_month,</if>
            <if test="currentArrears != null">current_arrears,</if>
            <if test="contactSituation != null">contact_situation,</if>
            <if test="addTime != null">add_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="corpCode != null">#{corpCode},</if>
            <if test="backMonth != null">#{backMonth},</if>
            <if test="currentArrears != null">#{currentArrears},</if>
            <if test="contactSituation != null">#{contactSituation},</if>
            <if test="addTime != null">#{addTime},</if>
         </trim>
    </insert>

    <update id="updateFinMonitoringcompanies" parameterType="FinMonitoringcompanies">
        update fin_monitoringcompanies
        <trim prefix="SET" suffixOverrides=",">
            <if test="corpCode != null">corp_code = #{corpCode},</if>
            <if test="backMonth != null">back_month = #{backMonth},</if>
            <if test="currentArrears != null">current_arrears = #{currentArrears},</if>
            <if test="contactSituation != null">contact_situation = #{contactSituation},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinMonitoringcompaniesById" parameterType="Integer">
        delete from fin_monitoringcompanies where id = #{id}
    </delete>

    <delete id="deleteFinMonitoringcompaniesByIds" parameterType="String">
        delete from fin_monitoringcompanies where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>