<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.finance.mapper.FinStatementsMapper">


    <resultMap type="FinStatements" id="FinStatementsResult">
        <result property="id"    column="id"    />
        <result property="corpCode"    column="corp_code"    />
        <result property="party"    column="party"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerTel"    column="customer_tel"    />
        <result property="customerCode"    column="customer_code"    />
        <result property="time"    column="time"    />
        <result property="price"    column="price"    />
        <result property="standard"    column="standard"    />
        <result property="attenDance"    column="atten_dance"    />
        <result property="overTime"    column="over_time"    />
        <result property="overPay"    column="over_pay"    />
        <result property="comBined"    column="com_bined"    />
        <result property="status"    column="status"    />
        <result property="addTime"    column="add_time"    />
        <result property="addPeople"    column="add_people"    />
        <result property="reason"    column="reason"    />
        <result property="picture"    column="picture"    />
        <result property="excelPicture"    column="excel_picture"    />
        <result property="remark"    column="remark"    />
        <result property="updateDate"    column="update_date"    />
        <result property="paymentTime"    column="payment_time"    />
    </resultMap>

    <resultMap type="Business" id="FinStatementsResults">
        <result property="customerName"    column="customer_name"    />
        <result property="time"    column="time"    />
        <result property="price"    column="price"    />
        <result property="overTime"    column="over_time"    />
        <result property="standard"    column="standard"    />
        <result property="attenDance"    column="atten_dance"    />
        <result property="overPay"    column="over_pay"    />
        <result property="comBined"    column="com_bined"    />
        <result property="systemcomBined"    column="systemcomBined"    />
        <result property="status"    column="status"    />
        <result property="reason"    column="reason"    />
    </resultMap>


    <sql id="selectFinStatementsVo">
        select id, corp_code, party, start_time, end_time, customer_name, customer_tel, customer_code, time, price, standard, atten_dance, over_time, over_pay, com_bined, status, add_time, add_people, reason, picture, excel_picture, remark, update_date, payment_time from fin_statements
    </sql>


    <select id="selectFinStatementsList" parameterType="FinStatements" resultMap="FinStatementsResult">
        SELECT a.id,a.customer_name,a.time,a.price,a.standard,a.atten_dance,a.com_bined,a.status,a.excel_picture,
        a.over_pay,a.reason,c.service_pay as over_time
        from fin_statements a LEFT JOIN
        per_customerinfo b on a.customer_tel=b.customer_tel
        LEFT JOIN  mar_customerprojectpay c on b.customer_code=c.customer_code
        <where>
            <if test="corpCode != null  and corpCode != ''"> and a.corp_code = #{corpCode}</if>
            <if test="party != null  and party != ''"> and a.party = #{party}</if>
            <if test="startTime != null "> and (a.start_time BETWEEN #{startTime} and #{endTime})</if>
            <if test="customerName != null  and customerName != ''"> and a.customer_name like concat('%', #{customerName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectFinStatementsById" parameterType="Integer" resultMap="FinStatementsResult">
        <include refid="selectFinStatementsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFinStatements" parameterType="FinStatements" useGeneratedKeys="true" keyProperty="id">
        insert into fin_statements
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corpCode != null">corp_code,</if>
            <if test="party != null">party,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="customerName != null">customer_name,</if>
            <if test="customerTel != null">customer_tel,</if>
            <if test="customerCode != null">customer_code,</if>
            <if test="time != null">time,</if>
            <if test="price != null">price,</if>
            <if test="standard != null">standard,</if>
            <if test="attenDance != null">atten_dance,</if>
            <if test="overTime != null">over_time,</if>
            <if test="overPay != null">over_pay,</if>
            <if test="comBined != null">com_bined,</if>
            <if test="status != null">status,</if>
            <if test="addTime != null">add_time,</if>
            <if test="addPeople != null">add_people,</if>
            <if test="reason != null">reason,</if>
            <if test="picture != null">picture,</if>
            <if test="excelPicture != null">excel_picture,</if>
            <if test="remark != null">remark,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="paymentTime != null">payment_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="corpCode != null">#{corpCode},</if>
            <if test="party != null">#{party},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="customerName != null">#{customerName},</if>
            <if test="customerTel != null">#{customerTel},</if>
            <if test="customerCode != null">#{customerCode},</if>
            <if test="time != null">#{time},</if>
            <if test="price != null">#{price},</if>
            <if test="standard != null">#{standard},</if>
            <if test="attenDance != null">#{attenDance},</if>
            <if test="overTime != null">#{overTime},</if>
            <if test="overPay != null">#{overPay},</if>
            <if test="comBined != null">#{comBined},</if>
            <if test="status != null">#{status},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="addPeople != null">#{addPeople},</if>
            <if test="reason != null">#{reason},</if>
            <if test="picture != null">#{picture},</if>
            <if test="excelPicture != null">#{excelPicture},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
        </trim>
    </insert>

    <update id="updateFinStatements" parameterType="FinStatements">
        update fin_statements
        <trim prefix="SET" suffixOverrides=",">
            <if test="corpCode != null">corp_code = #{corpCode},</if>
            <if test="party != null">party = #{party},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="customerTel != null">customer_tel = #{customerTel},</if>
            <if test="customerCode != null">customer_code = #{customerCode},</if>
            <if test="time != null">time = #{time},</if>
            <if test="price != null">price = #{price},</if>
            <if test="standard != null">standard = #{standard},</if>
            <if test="attenDance != null">atten_dance = #{attenDance},</if>
            <if test="overTime != null">over_time = #{overTime},</if>
            <if test="overPay != null">over_pay = #{overPay},</if>
            <if test="comBined != null">com_bined = #{comBined},</if>
            <if test="status != null">status = #{status},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="addPeople != null">add_people = #{addPeople},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="excelPicture != null">excel_picture = #{excelPicture},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinStatementsById" parameterType="Integer">
        delete from fin_statements where id = #{id}
    </delete>

    <delete id="deleteFinStatementsByIds" parameterType="String">
        delete from fin_statements where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="insetlistExcel" parameterType="java.util.List" >
         insert into fin_statements
           (corp_code,
            party,
            start_time,
            end_time,
           customer_name,
             customer_code,
           customer_tel,
           time,
           price,
           standard,
           atten_dance,
           over_time,
           over_pay,
            com_bined,
            add_time,
            add_people,
            excel_picture)
         values
        <foreach collection="list" item="proinfo"  index="index" separator=",">
            (#{proinfo.corpCode},
            #{proinfo.party},
            #{proinfo.startTime},
            #{proinfo.endTime},
            #{proinfo.customerName},
            #{proinfo.customerCode},
            #{proinfo.customerTel},
            #{proinfo.time},
            #{proinfo.price},
            #{proinfo.standard},
            #{proinfo.attenDance},
            #{proinfo.overTime},
            #{proinfo.overPay},
            #{proinfo.comBined},
            #{proinfo.addTime},
            #{proinfo.addPeople},
           #{proinfo.excelPicture})
        </foreach>
    </insert>


    <select id="selectFinStatementsByNameCorp" parameterType="FinStatements" resultMap="FinStatementsResult">
        SELECT b.customer_code,b.customer_tel from mar_customerprojectpay a
        LEFT JOIN per_customerinfo b on a.customer_code=b.customer_code
        <where>
            <if test="corpCode != null  and corpCode != ''"> and a.corp_code = #{corpCode}</if>
            <if test="customerName != null  and customerName != ''"> and b.customer_name = #{customerName}</if>
        </where>
        limit 1
    </select>

    <select id="selectFinStatementsLists" parameterType="Business" resultMap="FinStatementsResults">
        SELECT a.id,a.customer_name,a.time,a.price,a.standard,a.atten_dance,a.com_bined,a.status,a.excel_picture,
        a.over_pay,a.reason,c.service_pay as over_time
        from fin_statements a LEFT JOIN
        per_customerinfo b on a.customer_tel=b.customer_tel
        LEFT JOIN  mar_customerprojectpay c on b.customer_code=c.customer_code
        where 1=1
            <if test="corpCode != null  and corpCode != ''"> and a.corp_code = #{corpCode}</if>
            <if test="party != null  and party != ''"> and a.party = #{party}</if>
            <if test="startTime != null "> and (a.start_time BETWEEN #{startTime} and #{endTime})</if>
            <if test="customerName != null  and customerName != ''"> and a.customer_name like concat('%', #{customerName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        GROUP BY a.id
    </select>




    
</mapper>