<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.analysis.mapper.GetAllMethodMapper">



    <select id="getpersonnelGroupList"  resultType="map">
      SELECT a.dept_id,f.dept_name from sys_user a
		LEFT JOIN sys_dept f on a.dept_id=f.dept_id
        LEFT JOIN  sys_user_role b on a.user_id=b.user_id
        LEFT JOIN sys_role c on b.role_id=c.role_id
        where c.role_key='personnel' and a.`status`=0 and a.del_flag !=2
		GROUP BY a.dept_id
    </select>





</mapper>