<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.analysis.mapper.PersonnelDataMapper">


    <select id="getInputdataList" parameterType="PersonnelData" resultType="map">
     SELECT a.opert_name as opertName ,count(a.customer_code) as inputdataNum from per_customerinfo a
        LEFT JOIN sys_user b on a.opert_code=b.user_name
        where 1=1
        and b.STATUS=0
        and a.add_time between #{startTime} and #{endTime}
        GROUP BY a.opert_code
    </select>
    <select id="getTrackList" parameterType="PersonnelData" resultType="map">
       SELECT b.nick_name as nickName,COUNT(a.contac_datecode) as trackNum from per_cuscontact a LEFT JOIN sys_user b on a.contact_usercode=b.user_name
        where   1=1
        and b.STATUS=0
        and  a.contact_time between #{startTime} and #{endTime}
      GROUP BY a.contact_usercode
    </select>
    <select id="getBindingList" parameterType="PersonnelData" resultType="map">
     SELECT b.nick_name as nickName, COUNT(a.id) as bindingNum from mar_demandresume a LEFT JOIN
     sys_user b on a.bind_people=b.user_name
     where   1=1
     and b.STATUS=0
     and  a.bind_time between #{startTime} and #{endTime}
     GROUP BY a.bind_people
    </select>

    <select id="getResumePassedList" parameterType="PersonnelData" resultType="map">
      SELECT b.nick_name as nickName, COUNT(c.id) as resumePassedNum from mar_demandresume a
        LEFT JOIN mar_demandresumefollow c on a.id=c.demandresume_id
        LEFT JOIN sys_user b on a.bind_people=b.user_name
        where   1=1
        and c.follow_status=3
        and b.STATUS=0
        and  a.bind_time between #{startTime} and #{endTime}
      GROUP BY a.bind_people
    </select>
    <select id="getInterviewPassedList" parameterType="PersonnelData" resultType="map">
      SELECT b.nick_name as nickName, COUNT(c.id) as interviewPassedNum from mar_demandresume a
        LEFT JOIN mar_demandresumefollow c on a.id=c.demandresume_id
        LEFT JOIN sys_user b on a.bind_people=b.user_name
        where   1=1
        and c.follow_status=5
        and b.STATUS=0
        and  a.bind_time between #{startTime} and #{endTime}
      GROUP BY a.bind_people
    </select>
    <select id="getEntryPersonnelList" parameterType="PersonnelData" resultType="map">
      SELECT b.nick_name as nickName, COUNT(c.id) as entryPersonneNum  from mar_demandresume a
        LEFT JOIN mar_demandresumefollow c on a.id=c.demandresume_id
        LEFT JOIN sys_user b on a.bind_people=b.user_name
        where   1=1
        and c.follow_status=7
        and b.STATUS=0
        and  a.bind_time between #{startTime} and #{endTime}
      GROUP BY a.bind_people
    </select>


    <select id="getInputProfitList" parameterType="PersonnelData" resultType="map">
   SELECT b.nick_name as nickName,count(a.id) as peopleNum,sum(salary) as costNum,sum(service_pay) as serviceNum from mar_customerprojectpay a LEFT JOIN
    sys_user b on a.opercode=b.user_name
    where  1=1
    and  a.syqstart_time between #{startTime} and #{endTime}
    GROUP BY  a.opercode
    </select>

    <select id="getDataDetailsList" resultType="map">

    SELECT nick_name,user_name from sys_user a where a.`status`=0 and del_flag=0

    </select>





    <select id="getInputdataLists" parameterType="PersonnelData" resultType="map">
     SELECT DATE_FORMAT(a.add_time,'%Y-%m-%d') as addTime ,count(a.customer_code) as inputdataNum from per_customerinfo a
        LEFT JOIN sys_user b on a.opert_code=b.user_name
        where 1=1
        and b.user_name=#{userName}
        and b.STATUS=0
        and a.add_time between #{startTime} and #{endTime}
        GROUP BY DATE_FORMAT(a.add_time,'%Y%m%d')
    </select>
    <select id="getTrackLists" parameterType="PersonnelData" resultType="map">
       SELECT DATE_FORMAT(a.contact_time,'%Y-%m-%d') as addTime,COUNT(a.contac_datecode) as trackNum from per_cuscontact a LEFT JOIN sys_user b on a.contact_usercode=b.user_name
        where   1=1
        and b.user_name=#{userName}
        and b.STATUS=0
        and  a.contact_time between #{startTime} and #{endTime}
      GROUP BY DATE_FORMAT(a.contact_time,'%Y%m%d')
    </select>
    <select id="getBindingLists" parameterType="PersonnelData" resultType="map">
     SELECT DATE_FORMAT(a.bind_time,'%Y-%m-%d') as addTime, COUNT(a.id) as bindingNum from mar_demandresume a LEFT JOIN
     sys_user b on a.bind_people=b.user_name
     where   1=1
     and b.user_name=#{userName}
     and b.STATUS=0
     and  a.bind_time between #{startTime} and #{endTime}
     GROUP BY DATE_FORMAT(a.bind_time,'%Y%m%d')
    </select>

    <select id="getResumePassedLists" parameterType="PersonnelData" resultType="map">
      SELECT DATE_FORMAT(a.bind_time,'%Y-%m-%d') as addTime, COUNT(c.id) as resumePassedNum from mar_demandresume a
        LEFT JOIN mar_demandresumefollow c on a.id=c.demandresume_id
        LEFT JOIN sys_user b on a.bind_people=b.user_name
        where   1=1
        and b.user_name=#{userName}
        and c.follow_status=3
        and b.STATUS=0
        and  a.bind_time between #{startTime} and #{endTime}
      GROUP BY DATE_FORMAT(a.bind_time,'%Y%m%d')
    </select>
    <select id="getInterviewPassedLists" parameterType="PersonnelData" resultType="map">
      SELECT DATE_FORMAT(a.bind_time,'%Y-%m-%d') as addTime, COUNT(c.id) as interviewPassedNum from mar_demandresume a
        LEFT JOIN mar_demandresumefollow c on a.id=c.demandresume_id
        LEFT JOIN sys_user b on a.bind_people=b.user_name
        where   1=1
        and b.user_name=#{userName}
        and c.follow_status=5
        and b.STATUS=0
        and  a.bind_time between #{startTime} and #{endTime}
      GROUP BY DATE_FORMAT(a.bind_time,'%Y%m%d')
    </select>
    <select id="getEntryPersonnelLists" parameterType="PersonnelData" resultType="map">
      SELECT DATE_FORMAT(a.bind_time,'%Y-%m-%d') as addTime, COUNT(c.id) as entryPersonneNum  from mar_demandresume a
        LEFT JOIN mar_demandresumefollow c on a.id=c.demandresume_id
        LEFT JOIN sys_user b on a.bind_people=b.user_name
        where   1=1
        and b.user_name=#{userName}
        and c.follow_status=7
        and b.STATUS=0
        and  a.bind_time between #{startTime} and #{endTime}
      GROUP BY DATE_FORMAT(a.bind_time,'%Y%m%d')
    </select>


    <select id="getInputProfitLists" parameterType="PersonnelData" resultType="map">
   SELECT b.nick_name as nickName,count(a.id) as peopleNum,sum(salary) as costNum,sum(service_pay) as serviceNum from mar_customerprojectpay a LEFT JOIN
    sys_user b on a.opercode=b.user_name
    where  1=1
    and b.user_name=#{userName}
    and  a.syqstart_time between #{startTime} and #{endTime}

    </select>




    <select id="userlist" resultType="map">
     select user_name as userName,nick_name as nickName from sys_user
     where user_name not in ("admin","ry") and status=0
    </select>














</mapper>