<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.resume.mapper.PerTemplateMapper">

    <resultMap type="PerTemplate" id="PerTemplateResult">
        <result property="templateId"    column="template_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="templateNominate"    column="template_nominate"    />
        <result property="templateFile"    column="template_file"    />
        <result property="templatePrc"    column="template_prc"    />
        <result property="templateStatus"    column="template_status"    />
        <result property="addTime"    column="add_time"    />
        <result property="addPeople"    column="add_people"    />
    </resultMap>

    <sql id="selectPerTemplateVo">
        select template_id, template_name, template_nominate, template_file, template_prc, template_status, add_time, add_people from per_template
    </sql>

    <select id="selectPerTemplateList" parameterType="PerTemplate" resultMap="PerTemplateResult">
        <include refid="selectPerTemplateVo"/>
        <where>
            <if test="templateName != null  and templateName != ''"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="templateNominate != null  and templateNominate != ''"> and template_nominate = #{templateNominate}</if>
            <if test="templateFile != null  and templateFile != ''"> and template_file = #{templateFile}</if>
            <if test="templatePrc != null  and templatePrc != ''"> and template_prc = #{templatePrc}</if>
            <if test="templateStatus != null  and templateStatus != ''"> and template_status = #{templateStatus}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="addPeople != null  and addPeople != ''"> and add_people = #{addPeople}</if>
        </where>
    </select>

    <select id="selectPerTemplateById" parameterType="String" resultMap="PerTemplateResult">
        <include refid="selectPerTemplateVo"/>
        where template_id = #{templateId}
    </select>

    <insert id="insertPerTemplate" parameterType="PerTemplate">
        insert into per_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null">template_id,</if>
            <if test="templateName != null">template_name,</if>
            <if test="templateNominate != null">template_nominate,</if>
            <if test="templateFile != null">template_file,</if>
            <if test="templatePrc != null">template_prc,</if>
            <if test="templateStatus != null">template_status,</if>
            <if test="addTime != null">add_time,</if>
            <if test="addPeople != null">add_people,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null">#{templateId},</if>
            <if test="templateName != null">#{templateName},</if>
            <if test="templateNominate != null">#{templateNominate},</if>
            <if test="templateFile != null">#{templateFile},</if>
            <if test="templatePrc != null">#{templatePrc},</if>
            <if test="templateStatus != null">#{templateStatus},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="addPeople != null">#{addPeople},</if>
        </trim>
    </insert>

    <update id="updatePerTemplate" parameterType="PerTemplate">
        update per_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null">template_name = #{templateName},</if>
            <if test="templateNominate != null">template_nominate = #{templateNominate},</if>
            <if test="templateFile != null">template_file = #{templateFile},</if>
            <if test="templatePrc != null">template_prc = #{templatePrc},</if>
            <if test="templateStatus != null">template_status = #{templateStatus},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="addPeople != null">add_people = #{addPeople},</if>
        </trim>
        where template_id = #{templateId}
    </update>

    <delete id="deletePerTemplateById" parameterType="String">
        delete from per_template where template_id = #{templateId}
    </delete>

    <delete id="deletePerTemplateByIds" parameterType="String">
        delete from per_template where template_id in
        <foreach item="templateId" collection="array" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </delete>

    
</mapper>