<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.resume.mapper.PerWorkMapper">



    <resultMap type="PerWork" id="PerWorkResult">
        <result property="id"    column="id"    />
        <result property="customerCode"    column="customer_code"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="stillActive"    column="still_active"    />
        <result property="companyName"    column="company_name"    />
        <result property="department"    column="department"    />
        <result property="location"    column="location"    />
        <result property="jobTitle"    column="job_title"    />
        <result property="description"    column="description"    />
        <result property="industry"    column="industry"    />
        <result property="jobFunction"    column="job_function"    />
        <result property="companySize"    column="company_size"    />
        <result property="companyType"    column="company_type"    />
        <result property="salary"    column="salary"    />
        <result property="addpeople"    column="addpeople"    />
        <result property="addtime"    column="addtime"    />
    </resultMap>

    <sql id="selectPerWorkVo">
        select id, customer_code, start_time, end_time, still_active, company_name, department, location, job_title, description, industry, job_function, company_size, company_type, salary, addpeople, addtime from per_work
    </sql>

    <select id="selectPerWorkList" parameterType="PerWork" resultMap="PerWorkResult">
        <include refid="selectPerWorkVo"/>
        <where>
            <if test="customerCode != null  and customerCode != ''"> and customer_code = #{customerCode}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="stillActive != null "> and still_active = #{stillActive}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="department != null  and department != ''"> and department = #{department}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="jobTitle != null  and jobTitle != ''"> and job_title = #{jobTitle}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="industry != null  and industry != ''"> and industry = #{industry}</if>
            <if test="jobFunction != null  and jobFunction != ''"> and job_function = #{jobFunction}</if>
            <if test="companySize != null  and companySize != ''"> and company_size = #{companySize}</if>
            <if test="companyType != null  and companyType != ''"> and company_type = #{companyType}</if>
            <if test="salary != null  and salary != ''"> and salary = #{salary}</if>
            <if test="addpeople != null  and addpeople != ''"> and addpeople = #{addpeople}</if>
            <if test="addtime != null "> and addtime = #{addtime}</if>
        </where>
    </select>

    <select id="selectPerWorkById" parameterType="Integer" resultMap="PerWorkResult">
        <include refid="selectPerWorkVo"/>
        where id = #{id}
    </select>

    <insert id="insertPerWork" parameterType="PerWork" useGeneratedKeys="true" keyProperty="id">
        insert into per_work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerCode != null">customer_code,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="stillActive != null">still_active,</if>
            <if test="companyName != null">company_name,</if>
            <if test="department != null">department,</if>
            <if test="location != null">location,</if>
            <if test="jobTitle != null">job_title,</if>
            <if test="description != null">description,</if>
            <if test="industry != null">industry,</if>
            <if test="jobFunction != null">job_function,</if>
            <if test="companySize != null">company_size,</if>
            <if test="companyType != null">company_type,</if>
            <if test="salary != null">salary,</if>
            <if test="addpeople != null">addpeople,</if>
            <if test="addtime != null">addtime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerCode != null">#{customerCode},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="stillActive != null">#{stillActive},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="department != null">#{department},</if>
            <if test="location != null">#{location},</if>
            <if test="jobTitle != null">#{jobTitle},</if>
            <if test="description != null">#{description},</if>
            <if test="industry != null">#{industry},</if>
            <if test="jobFunction != null">#{jobFunction},</if>
            <if test="companySize != null">#{companySize},</if>
            <if test="companyType != null">#{companyType},</if>
            <if test="salary != null">#{salary},</if>
            <if test="addpeople != null">#{addpeople},</if>
            <if test="addtime != null">#{addtime},</if>
        </trim>
    </insert>

    <update id="updatePerWork" parameterType="PerWork">
        update per_work
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerCode != null">customer_code = #{customerCode},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="stillActive != null">still_active = #{stillActive},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="department != null">department = #{department},</if>
            <if test="location != null">location = #{location},</if>
            <if test="jobTitle != null">job_title = #{jobTitle},</if>
            <if test="description != null">description = #{description},</if>
            <if test="industry != null">industry = #{industry},</if>
            <if test="jobFunction != null">job_function = #{jobFunction},</if>
            <if test="companySize != null">company_size = #{companySize},</if>
            <if test="companyType != null">company_type = #{companyType},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="addpeople != null">addpeople = #{addpeople},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePerWorkById" parameterType="Integer">
        delete from per_work where id = #{id}
    </delete>

    <delete id="deletePerWorkByIds" parameterType="String">
        delete from per_work where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="insertList" parameterType="java.util.List">

            insert into per_work
                    ( customer_code,
                    start_time,
                    end_time,
                    still_active,
                    company_name,
                    department,
                    location,
                    job_title,
                    description,
                    industry,
                    job_function,
                    company_size,
                    company_type,
                    salary,
                    addpeople,
                    addtime)
        values
        <foreach collection="list" item="proinfo" separator=",">
                ( #{proinfo.customerCode},
                #{proinfo.startTime},
                #{proinfo.endTime},
                #{proinfo.stillActive},
                #{proinfo.companyName},
                #{proinfo.department},
                #{proinfo.location},
                #{proinfo.jobTitle},
                #{proinfo.description},
                #{proinfo.industry},
                #{proinfo.jobFunction},
                #{proinfo.companySize},
                #{proinfo.companyType},
                #{proinfo.salary},
                #{proinfo.addpeople},
                #{proinfo.addtime})

        </foreach>
    </insert>
    
</mapper>