<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.demand.mapper.MarCustomerprojectpayMapper">

    <resultMap type="MarCustomerprojectpay" id="MarCustomerprojectpayResult">
        <result property="id"    column="id"    />
        <result property="customerCode"    column="customer_code"    />
        <result property="corpCode"    column="corp_code"    />
        <result property="corpName"    column="corp_name"    />
        <result property="demandId"    column="demand_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="settledCycle"    column="settled_cycle"    />
        <result property="salary"    column="salary"    />
        <result property="servicePay"    column="service_pay"    />
        <result property="outofProjecttime"    column="outof_projecttime"    />
        <result property="quitProreason"    column="quit_proreason"    />
        <result property="quitRemark"    column="quit_remark"    />
        <result property="opercode"    column="opercode"    />
        <result property="operTime"    column="oper_time"    />
        <result property="syqstartTime"    column="syqstart_time"    />
        <result property="syqEndtime"    column="syq_endtime"    />
        <result property="socSecopt"    column="soc_secopt"    />
        <result property="remark"    column="remark"    />
        <result property="entryAssistant"    column="entry_assistant"    />
    </resultMap>

    <resultMap  type="MarCustomePerinfo" id="MarCusPerInfo">
        <result property="customerName" column="customer_name" />
        <result property="customerTel" column="customer_tel" />
        <result property="technologyDirection" column="technology_direction" />
        <result  property="marCustomerprojectpay.id" column="id"/>
        <result  property="marCustomerprojectpay.corpName" column="corp_name"/>
        <result  property="marCustomerprojectpay.projectName" column="project_name"/>
        <result  property="marCustomerprojectpay.syqstartTime"     column="syqstart_time"/>
        <result  property="marCustomerprojectpay.syqEndtime"     column="syq_endtime"/>
        <result  property="marCustomerprojectpay.outofProjecttime" column="outof_projecttime"/>
        <result  property="marCustomerprojectpay.servicePay" column="service_pay"/>
        <result  property="marCustomerprojectpay.salary"   column="salary"/>
        <result  property="marCustomerprojectpay.socSecopt" column="soc_secopt"/>
    </resultMap>




    <resultMap  type="PersonnelEssentialinfor" id="PersonnelEssentialinfor">
        <result property="deptName" column="dept_name" />
        <result property="nickName" column="nick_name" />
        <result property="customerName" column="customer_name" />
        <result property="salary" column="salary" />
        <result property="profit" column="profit" />
        <result property="profitMargin" column="profit_margin" />
        <result property="servicePay" column="service_pay" />
        <result property="syqstartTime" column="syqstart_time" />
        <result property="syqEndtime" column="syq_endtime" />
        <result property="socSecopt" column="soc_secopt" />
        <result property="entryAddress" column="entry_address" />
        <result property="corpName" column="corp_name" />
        <result property="customerTel" column="customer_tel" />
        <result property="joinStatus" column="join_status" />
        <result property="entryAssistant" column="entry_assistant" />
    </resultMap>

    <resultMap  type="ExportItemList" id="ExportItemListinfo">
        <result property="customerName" column="customer_name" />
        <result property="nickName" column="nick_name" />
        <result  property="corpName" column="corp_name"/>
        <result  property="quitProreason" column="quit_proreason"/>
        <result  property="quitRemark" column="quit_remark"/>
        <result  property="salary"   column="salary"/>
        <result  property="servicePay" column="service_pay"/>
        <result  property="syqstartTime"     column="syqstart_time"/>
        <result  property="outofProjecttime" column="outof_projecttime"/>
        <result  property="borrowSth" column="borrow_sth"/>
        <result property="customerTel" column="customer_tel" />
        <result property="profitMargin" column="profit_margin" />
    </resultMap>

    <resultMap  type="Entry" id="Entrys">
        <result property="customerName" column="customer_name" />
        <result property="customerTel" column="customer_tel" />
        <result  property="corpName" column="corp_name"/>
        <result  property="syqstartTime"     column="syqstart_time"/>
        <result  property="technologyDirection"     column="technology_direction"/>
        <result  property="outofProjecttime" column="outof_projecttime"/>
        <result  property="salary"   column="salary"/>
        <result  property="servicePay" column="service_pay"/>
        <result  property="socSecopt" column="soc_secopt"/>



    </resultMap>


    <sql id="selectMarCustomerprojectpayVo">
        select id, customer_code, corp_code, corp_name, demand_id, project_name, start_time, end_time, settled_cycle, salary, service_pay, outof_projecttime, quit_proreason, quit_remark, opercode, oper_time, syqstart_time, syq_endtime, soc_secopt, remark, entry_assistant from mar_customerprojectpay
    </sql>


    <select id="selectMarCustomerprojectpayList" parameterType="MarCustomerprojectpay" resultMap="MarCustomerprojectpayResult">
        <include refid="selectMarCustomerprojectpayVo"/>
        <where>
            <if test="customerCode != null  and customerCode != ''"> and customer_code = #{customerCode}</if>
            <if test="corpCode != null  and corpCode != ''"> and corp_code = #{corpCode}</if>
            <if test="corpName != null  and corpName != ''"> and corp_name like concat('%', #{corpName}, '%')</if>
            <if test="demandId != null  and demandId != ''"> and demand_id = #{demandId}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="settledCycle != null "> and settled_cycle = #{settledCycle}</if>
            <if test="salary != null "> and salary = #{salary}</if>
            <if test="servicePay != null "> and service_pay = #{servicePay}</if>
            <if test="outofProjecttime != null "> and outof_projecttime = #{outofProjecttime}</if>
            <if test="quitProreason != null "> and quit_proreason = #{quitProreason}</if>
            <if test="quitRemark != null  and quitRemark != ''"> and quit_remark = #{quitRemark}</if>
            <if test="opercode != null  and opercode != ''"> and opercode = #{opercode}</if>
            <if test="operTime != null "> and oper_time = #{operTime}</if>
            <if test="syqstartTime != null "> and syqstart_time = #{syqstartTime}</if>
            <if test="syqEndtime != null "> and syq_endtime = #{syqEndtime}</if>
            <if test="socSecopt != null "> and soc_secopt = #{socSecopt}</if>
        </where>
    </select>

    <select id="selectMarCustomerprojectpayById" parameterType="String" resultMap="MarCustomerprojectpayResult">
        <include refid="selectMarCustomerprojectpayVo"/>
        where id = #{id}
    </select>

    <insert id="insertMarCustomerprojectpay" parameterType="MarCustomerprojectpay">
        insert into mar_customerprojectpay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="customerCode != null">customer_code,</if>
            <if test="corpCode != null">corp_code,</if>
            <if test="corpName != null">corp_name,</if>
            <if test="demandId != null">demand_id,</if>
            <if test="projectName != null">project_name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="settledCycle != null">settled_cycle,</if>
            <if test="salary != null">salary,</if>
            <if test="servicePay != null">service_pay,</if>
            <if test="outofProjecttime != null">outof_projecttime,</if>
            <if test="quitProreason != null">quit_proreason,</if>
            <if test="quitRemark != null">quit_remark,</if>
            <if test="opercode != null">opercode,</if>
            <if test="operTime != null">oper_time,</if>
            <if test="syqstartTime != null">syqstart_time,</if>
            <if test="syqEndtime != null">syq_endtime,</if>
            <if test="socSecopt != null">soc_secopt,</if>
            <if test="remark != null">remark,</if>
            <if test="entryAssistant != null">entry_assistant,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="customerCode != null">#{customerCode},</if>
            <if test="corpCode != null">#{corpCode},</if>
            <if test="corpName != null">#{corpName},</if>
            <if test="demandId != null">#{demandId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="settledCycle != null">#{settledCycle},</if>
            <if test="salary != null">#{salary},</if>
            <if test="servicePay != null">#{servicePay},</if>
            <if test="outofProjecttime != null">#{outofProjecttime},</if>
            <if test="quitProreason != null">#{quitProreason},</if>
            <if test="quitRemark != null">#{quitRemark},</if>
            <if test="opercode != null">#{opercode},</if>
            <if test="operTime != null">#{operTime},</if>
            <if test="syqstartTime != null">#{syqstartTime},</if>
            <if test="syqEndtime != null">#{syqEndtime},</if>
            <if test="socSecopt != null">#{socSecopt},</if>
            <if test="remark != null">#{remark},</if>
            <if test="entryAssistant != null">#{entryAssistant},</if>
        </trim>
    </insert>

    <update id="updateMarCustomerprojectpay" parameterType="MarCustomerprojectpay">
        update mar_customerprojectpay
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerCode != null">customer_code = #{customerCode},</if>
            <if test="corpCode != null">corp_code = #{corpCode},</if>
            <if test="corpName != null">corp_name = #{corpName},</if>
            <if test="demandId != null">demand_id = #{demandId},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="settledCycle != null">settled_cycle = #{settledCycle},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="servicePay != null">service_pay = #{servicePay},</if>
            <if test="outofProjecttime != null">outof_projecttime = #{outofProjecttime},</if>
            <if test="quitProreason != null">quit_proreason = #{quitProreason},</if>
            <if test="quitRemark != null">quit_remark = #{quitRemark},</if>
            <if test="opercode != null">opercode = #{opercode},</if>
            <if test="operTime != null">oper_time = #{operTime},</if>
            <if test="syqstartTime != null">syqstart_time = #{syqstartTime},</if>
            <if test="syqEndtime != null">syq_endtime = #{syqEndtime},</if>
            <if test="socSecopt != null">soc_secopt = #{socSecopt},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="entryAssistant != null">entry_assistant = #{entryAssistant},</if>
        </trim>
        where id = #{id}
    </update>









    <delete id="deleteMarCustomerprojectpayById" parameterType="String">
        delete from mar_customerprojectpay where id = #{id}
    </delete>

    <delete id="deleteMarCustomerprojectpayByIds" parameterType="String">
        delete from mar_customerprojectpay where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selRotation"  resultType="map">
     SELECT b.corp_name,c.project_name,d.customer_name,f.nick_name, DATE_FORMAT(a.syqstart_time,'%Y-%m-%d') as syqstart_time from mar_customerprojectpay a
         LEFT JOIN mar_company b on a.corp_code=b.corp_code
         LEFT JOIN mar_demand c on a.demand_id=c.demand_id
         LEFT JOIN per_customerinfo d on a.customer_code=d.customer_code
         LEFT JOIN sys_user f on a.opercode=f.user_name
        where outof_projecttime is null and quit_proreason is null
        ORDER BY oper_time desc LIMIT 5
    </select>

    <select id="selectentrylistList"  parameterType="MarCustomerprojectpay"  resultMap="MarCusPerInfo">
        SELECT a.id,b.customer_name,b.customer_tel,a.corp_name,a.project_name,a.syqstart_time,
        a.syq_endtime,a.outof_projecttime,a.service_pay,a.salary,a.soc_secopt,c.technology_direction
        from mar_customerprojectpay a
        LEFT JOIN per_customerinfo b on a.customer_code=b.customer_code
        LEFT JOIN       mar_demand    c on a.demand_id=c.demand_id
        <where>
            <if test="customerCode != null  and customerCode != ''"> and b.customer_name like concat('%', #{customerCode}, '%')</if>
            <if test="corpName != null  and corpName != ''"> and corp_name like concat('%', #{corpName}, '%')</if>
            <choose>
                <when test="settledCycle == 1">
                    <if test="startTime != null and endTime != null">
                        and syqstart_time between #{startTime} and #{endTime}
                    </if>
                    <if test="startTime == null and endTime == null">
                        and outof_projecttime is  null
                    </if>
                </when>
                <when test="settledCycle == 2">
                    <if test="startTime != null and endTime != null">
                        and outof_projecttime between #{startTime} and #{endTime}
                    </if>
                    <if test="startTime == null and endTime == null">
                        and outof_projecttime is not null
                    </if>
                </when>
            </choose>
        </where>
    </select>
    <select id="selectMarCustomePerinfoById"  parameterType="String"  resultType="map">
    SELECT a.id,b.customer_name as customerName,b.customer_tel as customerTel,a.corp_name as corpName,
    a.project_name as projectName,a.syqstart_time as syqstartTime,a.syq_endtime as syqEndtime,
    a.outof_projecttime as outofProjecttime,a.service_pay as service_Pay,a.salary,a.soc_secopt as socSecopt
    from mar_customerprojectpay a
    LEFT JOIN per_customerinfo b on a.customer_code=b.customer_code
    where a.id=#{id}
    </select>
    <select id="getRankingEntry"    resultType="map">
        SELECT c.opercode,b.avatar,b.nick_name,b.sex,c.peonum from
            (SELECT
            a.opercode,COUNT(a.customer_code) as peonum
            FROM
            mar_customerprojectpay a
            where
                  DATE_FORMAT( a.oper_time, '%Y%m' )= DATE_FORMAT( CURDATE( ) , '%Y%m' )
            GROUP BY opercode)c
        LEFT JOIN sys_user b ON c.opercode = b.user_name
        ORDER BY c.peonum desc
        LIMIT 10
    </select>
    <select id="getInterviewEntry"    resultType="map">
       SELECT c.bind_people,d.avatar,d.nick_name,d.sex,c.peonum from
            (SELECT b.bind_people,COUNT(b.bind_people) as peonum from mar_demandresumefollow a
		LEFT JOIN mar_demandresume b on a.demandresume_id=b.id
     where
	 DATE_FORMAT( trackingtime, '%Y%m' )= DATE_FORMAT( CURDATE( ) , '%Y%m' )
	 and follow_status in (5,6,7,8)
   GROUP BY b.bind_people)c
	LEFT JOIN sys_user d ON c.bind_people = d.user_name
	ORDER BY c.peonum desc
	LIMIT 10
    </select>



    <select id="selectpersonnelTurnoverList"    parameterType="map" resultMap="PersonnelEssentialinfor">
        SELECT g.dept_name,f.nick_name,d.customer_name,d.join_status,d.customer_tel,a.salary,a.service_pay,(a.service_pay-a.salary) as profit,
        a.syqstart_time,a.syq_endtime,a.oper_time,b.corp_name,c.address as entry_address,
        c.technology_direction,a.soc_secopt,a.entry_assistant from  mar_customerprojectpay a
        LEFT JOIN mar_company b on a.corp_code=b.corp_code
        LEFT JOIN mar_demand c on a.demand_id=c.demand_id
        LEFT JOIN per_customerinfo d on a.customer_code=d.customer_code
        LEFT JOIN  sys_user f on a.opercode=f.user_name
        LEFT JOIN sys_dept g on f.dept_id=g.dept_id
        WHERE 1=1
        and a.syqstart_time between #{startTime} and #{endTime}
        <if test="status != null">and a.outof_projecttime is null</if>
        ORDER BY g.dept_name,f.nick_name
    </select>
    <select id="inItemNowCount"    resultType="map">
       SELECT b.sumSalary,a.sumServicePay,c.nowNum from
        ( SELECT IFNULL(SUM(service_pay),0) AS sumServicePay ,IFNULL(SUM( salary ),0) AS sumSalary FROM mar_customerprojectpay  WHERE DATE_FORMAT( syqstart_time, '%Y-%m' ) = DATE_FORMAT( now( ), '%Y-%m')
        ) as a,
        (SELECT IFNULL(SUM( salary ),0) AS sumSalary FROM mar_customerprojectpay WHERE DATE_FORMAT( outof_projecttime, '%Y-%m' ) = DATE_FORMAT( now( ), '%Y-%m' )
        ) as b,
        ( SELECT IFNULL( COUNT( id ), 0 ) AS nowNum FROM mar_customerprojectpay WHERE outof_projecttime IS NULL
        )as c
    </select>
    <select id="entryPeopleCount"    parameterType="map"  resultType="map">
        SELECT COUNT(id) as entryNum, IFNULL(SUM(service_pay),0)  as entryServicePay, IFNULL(SUM(salary),0)as  entrySalary from  mar_customerprojectpay a
        where
        a.syqstart_time between #{startTime} and #{endTime}
        <if test="status != null">and a.outof_projecttime is null</if>
    </select>


    <select id="outItemlist"    parameterType="map"  resultType="map">
       SELECT d.customer_name,f.nick_name,b.corp_name,a.quit_proreason,a.quit_remark,
       a.salary,a.service_pay, (a.service_pay-a.salary) as profit,
       a.syqstart_time,a.outof_projecttime,g.borrow_sth,d.customer_tel   from  mar_customerprojectpay a
         LEFT JOIN mar_company b on a.corp_code=b.corp_code
         LEFT JOIN per_customerinfo d on a.customer_code=d.customer_code
         LEFT JOIN  sys_user f on a.opercode=f.user_name
         LEFT JOIN (SELECT * from mar_borrow where is_return=2 GROUP BY marcus_id) g on a.id=g.marcus_id
        where 1=1
        and   a.outof_projecttime is not null
        and a.outof_projecttime between #{startTime} and #{endTime}
    </select>

    <select id="isInitem" parameterType="String" resultMap="MarCustomerprojectpayResult">
        <include refid="selectMarCustomerprojectpayVo"/>
        where customer_code = #{customerCode}
        and outof_projecttime is  null
    </select>


    <select id="outItemlists"    parameterType="map" resultMap="ExportItemListinfo">
       SELECT d.customer_name,f.nick_name,b.corp_name,a.quit_proreason,a.quit_remark,
       a.salary,a.service_pay, (a.service_pay-a.salary) as profit,
       a.syqstart_time,a.outof_projecttime,g.borrow_sth,d.customer_tel   from  mar_customerprojectpay a
         LEFT JOIN mar_company b on a.corp_code=b.corp_code
         LEFT JOIN per_customerinfo d on a.customer_code=d.customer_code
         LEFT JOIN  sys_user f on a.opercode=f.user_name
         LEFT JOIN (SELECT * from mar_borrow where is_return=2 GROUP BY marcus_id) g on a.id=g.marcus_id
        where 1=1
        and   a.outof_projecttime is not null
        and a.outof_projecttime between #{startTime} and #{endTime}
    </select>



    <select id="selectentrylistLists"  parameterType="Entry"  resultMap="Entrys">
        SELECT a.id,b.customer_name,b.customer_tel,a.corp_name,a.project_name,a.syqstart_time,
        a.syq_endtime,a.outof_projecttime,a.service_pay,a.salary,a.soc_secopt,c.technology_direction
        from mar_customerprojectpay a
        LEFT JOIN per_customerinfo b on a.customer_code=b.customer_code
        LEFT JOIN       mar_demand    c on a.demand_id=c.demand_id
        <where>
            <if test="customerCode != null  and customerCode != ''"> and b.customer_name like concat('%', #{customerCode}, '%')</if>
            <if test="corpName != null  and corpName != ''"> and corp_name like concat('%', #{corpName}, '%')</if>
            <choose>
                <when test="settledCycle == 1">
                    <if test="startTime != null and endTime != null">
                        and syqstart_time between #{startTime} and #{endTime}
                    </if>
                    <if test="startTime == null and endTime == null">
                        and outof_projecttime is  null
                    </if>
                </when>
                <when test="settledCycle == 2">
                    <if test="startTime != null and endTime != null">
                        and outof_projecttime between #{startTime} and #{endTime}
                    </if>
                    <if test="startTime == null and endTime == null">
                        and outof_projecttime is not null
                    </if>
                </when>
            </choose>
        </where>
    </select>





</mapper>