<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.demand.mapper.MarDemandresumefollowMapper">
    
    <resultMap type="MarDemandresumefollow" id="MarDemandresumefollowResult">
        <result property="id"    column="Id"    />
        <result property="demandresumeId"    column="demandresume_id"    />
        <result property="trackingPeople"    column="tracking_people"    />
        <result property="trackingtime"    column="trackingtime"    />
        <result property="followStatus"    column="follow_status"    />
        <result property="followDetail"    column="follow_detail"    />
        <result property="remark1"    column="remark1"    />
    </resultMap>
    <resultMap type="MarDemandresume" id="MarDemandresumeResult">
        <result property="id"    column="id"    />
        <result property="demandId"    column="demand_id"    />
        <result property="customerCode"    column="customer_code"    />
        <result property="bindTime"    column="bind_time"    />
        <result property="bindPeople"    column="bind_people"    />
        <result property="downloadStatus"    column="download_status"    />
        <result property="newfollowtime"    column="newfollowtime"    />
        <result property="trackzPeoname"    column="trackz_peoname"    />
    </resultMap>

    <sql id="selectMarDemandresumefollowVo">
        select Id, demandresume_id, tracking_people, trackingtime, follow_status, follow_detail, remark1 from mar_demandresumefollow
    </sql>

    <select id="selectMarDemandresumefollowList" parameterType="MarDemandresumefollow" resultMap="MarDemandresumefollowResult">
        <include refid="selectMarDemandresumefollowVo"/>
        <where>  
            <if test="demandresumeId != null  and demandresumeId != ''"> and demandresume_id = #{demandresumeId}</if>
            <if test="trackingPeople != null  and trackingPeople != ''"> and tracking_people = #{trackingPeople}</if>
            <if test="trackingtime != null "> and trackingtime = #{trackingtime}</if>
            <if test="followStatus != null "> and follow_status = #{followStatus}</if>
            <if test="followDetail != null  and followDetail != ''"> and follow_detail = #{followDetail}</if>
            <if test="remark1 != null  and remark1 != ''"> and remark1 = #{remark1}</if>
        </where>
    </select>
    
    <select id="selectMarDemandresumefollowById" parameterType="String" resultMap="MarDemandresumefollowResult">
        <include refid="selectMarDemandresumefollowVo"/>
        where Id = #{id}
    </select>
        
    <insert id="insertMarDemandresumefollow" parameterType="MarDemandresumefollow">
        insert into mar_demandresumefollow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">Id,</if>
            <if test="demandresumeId != null">demandresume_id,</if>
            <if test="trackingPeople != null">tracking_people,</if>
            <if test="trackingtime != null">trackingtime,</if>
            <if test="followStatus != null">follow_status,</if>
            <if test="followDetail != null">follow_detail,</if>
            <if test="remark1 != null">remark1,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="demandresumeId != null">#{demandresumeId},</if>
            <if test="trackingPeople != null">#{trackingPeople},</if>
            <if test="trackingtime != null">#{trackingtime},</if>
            <if test="followStatus != null">#{followStatus},</if>
            <if test="followDetail != null">#{followDetail},</if>
            <if test="remark1 != null">#{remark1},</if>
         </trim>
    </insert>

    <update id="updateMarDemandresumefollow" parameterType="MarDemandresumefollow">
        update mar_demandresumefollow
        <trim prefix="SET" suffixOverrides=",">
            <if test="demandresumeId != null">demandresume_id = #{demandresumeId},</if>
            <if test="trackingPeople != null">tracking_people = #{trackingPeople},</if>
            <if test="trackingtime != null">trackingtime = #{trackingtime},</if>
            <if test="followStatus != null">follow_status = #{followStatus},</if>
            <if test="followDetail != null">follow_detail = #{followDetail},</if>
            <if test="remark1 != null">remark1 = #{remark1},</if>
        </trim>
        where Id = #{id}
    </update>

    <delete id="deleteMarDemandresumefollowById" parameterType="String">
        delete from mar_demandresumefollow where Id = #{id}
    </delete>

    <delete id="deleteMarDemandresumefollowByIds" parameterType="String">
        delete from mar_demandresumefollow where Id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectMarDemandList"  parameterType="MarDemandresume" resultMap="MarDemandresumefollowResult">
         SELECT c.* from mar_demand a
            LEFT JOIN mar_demandresume b on a.demand_id=b.demand_id
            LEFT JOIN mar_demandresumefollow c on b.id=c.demandresume_id
        where c.follow_status=#{downloadStatus} and a.demand_id=#{demandId}
    </select>

    <select id="selectDemandDetailsList"  parameterType="map" resultType="map">
        SELECT
            b.id,
            b.customer_code as customerCode,
            d.customer_name as customerName,
            d.customer_tel as customerTel,
            b.trackz_peoname as trackzPeoname,
            DATE_FORMAT(b.bind_time,'%Y-%m-%d %H:%i:%s') as bindTime,
            c.follow_status as followStatus,
            DATE_FORMAT(b.newfollowtime,'%Y-%m-%d %H:%i:%s') as newfollowtime,
            d.resume_path as resumePath,
             b.resume_enclosurepath as resumeEnclosurepath,
             b.download_status as downloadStatus

        FROM
         mar_demandresume b
             LEFT JOIN mar_demand a ON a.demand_id = b.demand_id
            LEFT JOIN mar_demandresumefollow c ON b.id = c.demandresume_id and b.newfollowtime =c.trackingtime
            LEFT JOIN per_customerinfo d on b.customer_code=d.customer_code
            where a.demand_id=#{demandId}
        <if test="customerName != null  and customerName != ''"> and d.customer_name = #{customerName}</if>
         order by b.bind_time desc
    </select>
    <delete id="deleteMarDemandresumefollowByDemand_id" parameterType="String">
        delete from mar_demandresumefollow where demandresume_id = #{id}
    </delete>


</mapper>