<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.demand.mapper.MarDemandMapper">


    <resultMap type="MarDemand" id="MarDemandResult">
        <result property="demandId"    column="demand_id"    />
        <result property="corpCode"    column="corp_code"    />
        <result property="projectName"    column="project_name"    />
        <result property="technologyDirection"    column="technology_direction"    />
        <result property="demandYears"    column="demand_years"    />
        <result property="education"    column="education"    />
        <result property="demandNumber"    column="demand_number"    />
        <result property="specificrequiRement"    column="specificrequi_rement"    />
        <result property="projectLocation"    column="project_location"    />
        <result property="address"    column="address"    />
        <result property="directWorklife"    column="direct_worklife"    />
        <result property="targetNumber"    column="target_number"    />
        <result property="importantLevel"    column="important_level"    />
        <result property="minSalary"    column="min_salary"    />
        <result property="maxSalary"    column="max_salary"    />
        <result property="technicalRequirement"    column="technical_requirement"    />
        <result property="langue"    column="Langue"    />
        <result property="demandPic"    column="demand_pic"    />
        <result property="interviewer"    column="interviewer"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="specificLocation"    column="specific_location"    />
        <result property="attention"    column="attention"    />
        <result property="ifLook"    column="if_look"    />
        <result property="chsiFlag"    column="chsi_flag"    />
        <result property="coopnature"    column="coopnature"    />
        <result property="state"    column="state"    />
        <result property="closeDate"    column="close_date"    />
        <result property="tempId"    column="temp_id"    />
        <result property="tempName"    column="temp_name"    />
        <result property="addTime"    column="add_time"    />
        <result property="operationuser"    column="operationuser"    />
        <result property="operUsername"    column="oper_username"    />
        <result property="bz"    column="bz"    />

    </resultMap>

    <resultMap  type="MarEntryInfo" id="MarrInfo">
        <result property="demandId" column="demand_id" />
        <result property="projectName" column="project_name" />
        <!-- property表示集合类型属性名称，ofType表示集合中的对象是什么类型 -->
        <collection property="basicInfo" ofType="com.ruoyi.demand.domain.BasicInfo">
            <id property="customerName" column="customer_name"/>
            <result property="followStatus" column="follow_status"/>
        </collection>
    </resultMap>
    <resultMap  type="BasicInfo" id="Basic">
        <result property="customerName" column="customer_name" />
        <result property="followStatus" column="follow_status" />
    </resultMap>


    <sql id="selectMarDemandVo">
        select demand_id, corp_code, project_name, technology_direction, demand_years, education, demand_number, specificrequi_rement, project_location, address, direct_worklife, target_number, important_level, min_salary, max_salary, technical_requirement, Langue, demand_pic, interviewer, contact_phone, specific_location, attention, if_look, chsi_flag, coopnature, state, close_date, temp_id, temp_name, add_time, operationuser, oper_username,bz from mar_demand
    </sql>

    <select id="selectMarDemandList" parameterType="MarDemand" resultMap="MarDemandResult">
        select a.demand_id, b.corp_name as operationuser,a.project_name,a.technology_direction,a.demand_years,a.education,a.demand_number,a.specificrequi_rement,a.project_location,a.address,a.direct_worklife,a.target_number,a.important_level,a.min_salary,a.max_salary,a.technical_requirement,a.Langue,a.demand_pic,a.interviewer,a.contact_phone,a.specific_location,a.attention,a.if_look,a.chsi_flag,a.coopnature,a.state,a.close_date,a.temp_id,a.temp_name,a.add_time,a.operationuser,a.oper_username,a.bz from mar_demand a
        LEFT JOIN mar_company b on a.corp_code=b.corp_code
        <where>
            <if test="corpCode != null  and corpCode != ''"> and a.corp_code = #{corpCode}</if>
            <if test="projectName != null  and projectName != ''"> and a.project_name like concat('%', #{projectName}, '%')</if>
            <if test="technologyDirection != null  and technologyDirection != ''"> and a.technology_direction = #{technologyDirection}</if>
            <if test="demandYears != null  and demandYears != ''"> and a.demand_years = #{demandYears}</if>
            <if test="education != null  and education != ''"> and a.education = #{education}</if>
            <if test="demandNumber != null "> and a.demand_number = #{demandNumber}</if>
            <if test="specificrequiRement != null  and specificrequiRement != ''"> and a.specificrequi_rement = #{specificrequiRement}</if>
            <if test="projectLocation != null  and projectLocation != ''"> and a.project_location = #{projectLocation}</if>
            <if test="address != null  and address != ''"> and a.address = #{address}</if>
            <if test="directWorklife != null "> and a.direct_worklife = #{directWorklife}</if>
            <if test="targetNumber != null "> and a.target_number = #{targetNumber}</if>
            <if test="importantLevel != null "> and a.important_level = #{importantLevel}</if>
            <if test="minSalary != null "> and a.min_salary = #{minSalary}</if>
            <if test="maxSalary != null "> and a.max_salary = #{maxSalary}</if>
            <if test="technicalRequirement != null  and technicalRequirement != ''"> and a.technical_requirement = #{technicalRequirement}</if>
            <if test="langue != null "> and a.Langue = #{langue}</if>
            <if test="demandPic != null  and demandPic != ''"> and a.demand_pic = #{demandPic}</if>
            <if test="interviewer != null  and interviewer != ''"> and a.interviewer = #{interviewer}</if>
            <if test="contactPhone != null  and contactPhone != ''"> and a.contact_phone = #{contactPhone}</if>
            <if test="specificLocation != null  and specificLocation != ''"> and a.specific_location = #{specificLocation}</if>
            <if test="attention != null  and attention != ''"> and a.attention = #{attention}</if>
            <if test="ifLook != null "> and a.if_look = #{ifLook}</if>
            <if test="chsiFlag != null "> and a.chsi_flag = #{chsiFlag}</if>
            <if test="coopnature != null "> and a.coopnature = #{coopnature}</if>
            <if test="state != null "> and a.state = #{state}</if>
            <if test="closeDate != null "> and a.close_date = #{closeDate}</if>
            <if test="tempId != null  and tempId != ''"> and a.temp_id = #{tempId}</if>
            <if test="tempName != null  and tempName != ''"> and a.temp_name like concat('%', #{tempName}, '%')</if>
            <if test="addTime != null "> and a.add_time = #{addTime}</if>
            <if test="operationuser != null  and operationuser != ''"> and a.operationuser = #{operationuser}</if>
            <if test="operUsername != null  and operUsername != ''"> and a.oper_username like concat('%', #{operUsername}, '%')</if>
        </where>
        order  by a.add_time desc
    </select>

    <select id="selectMarDemandById" parameterType="String" resultMap="MarDemandResult">
     select a.demand_id,a.corp_code,a.project_name,a.technology_direction,a.demand_years,a.education,a.demand_number,
     a.specificrequi_rement,a.project_location,a.address,a.direct_worklife,a.target_number,a.important_level,a.min_salary,
     a.max_salary,a.technical_requirement,a.Langue,a.demand_pic,a.interviewer,a.contact_phone,a.specific_location,
     a.attention,a.if_look,a.chsi_flag,a.coopnature,a.state,a.close_date,a.temp_id,a.temp_name,a.add_time,
     a.operationuser,a.oper_username from mar_demand a
     where a.demand_id = #{demandId}
    </select>

    <insert id="insertMarDemand" parameterType="MarDemand">
        insert into mar_demand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="demandId != null">demand_id,</if>
            <if test="corpCode != null and corpCode != ''">corp_code,</if>
            <if test="projectName != null">project_name,</if>
            <if test="technologyDirection != null">technology_direction,</if>
            <if test="demandYears != null">demand_years,</if>
            <if test="education != null">education,</if>
            <if test="demandNumber != null">demand_number,</if>
            <if test="specificrequiRement != null">specificrequi_rement,</if>
            <if test="projectLocation != null">project_location,</if>
            <if test="address != null">address,</if>
            <if test="directWorklife != null">direct_worklife,</if>
            <if test="targetNumber != null">target_number,</if>
            <if test="importantLevel != null">important_level,</if>
            <if test="minSalary != null">min_salary,</if>
            <if test="maxSalary != null">max_salary,</if>
            <if test="technicalRequirement != null">technical_requirement,</if>
            <if test="langue != null">Langue,</if>
            <if test="demandPic != null">demand_pic,</if>
            <if test="interviewer != null">interviewer,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="specificLocation != null">specific_location,</if>
            <if test="attention != null">attention,</if>
            <if test="ifLook != null">if_look,</if>
            <if test="chsiFlag != null">chsi_flag,</if>
            <if test="coopnature != null">coopnature,</if>
            <if test="state != null">state,</if>
            <if test="closeDate != null">close_date,</if>
            <if test="tempId != null">temp_id,</if>
            <if test="tempName != null">temp_name,</if>
            <if test="addTime != null">add_time,</if>
            <if test="operationuser != null">operationuser,</if>
            <if test="operUsername != null">oper_username,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="demandId != null">#{demandId},</if>
            <if test="corpCode != null and corpCode != ''">#{corpCode},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="technologyDirection != null">#{technologyDirection},</if>
            <if test="demandYears != null">#{demandYears},</if>
            <if test="education != null">#{education},</if>
            <if test="demandNumber != null">#{demandNumber},</if>
            <if test="specificrequiRement != null">#{specificrequiRement},</if>
            <if test="projectLocation != null">#{projectLocation},</if>
            <if test="address != null">#{address},</if>
            <if test="directWorklife != null">#{directWorklife},</if>
            <if test="targetNumber != null">#{targetNumber},</if>
            <if test="importantLevel != null">#{importantLevel},</if>
            <if test="minSalary != null">#{minSalary},</if>
            <if test="maxSalary != null">#{maxSalary},</if>
            <if test="technicalRequirement != null">#{technicalRequirement},</if>
            <if test="langue != null">#{langue},</if>
            <if test="demandPic != null">#{demandPic},</if>
            <if test="interviewer != null">#{interviewer},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="specificLocation != null">#{specificLocation},</if>
            <if test="attention != null">#{attention},</if>
            <if test="ifLook != null">#{ifLook},</if>
            <if test="chsiFlag != null">#{chsiFlag},</if>
            <if test="coopnature != null">#{coopnature},</if>
            <if test="state != null">#{state},</if>
            <if test="closeDate != null">#{closeDate},</if>
            <if test="tempId != null">#{tempId},</if>
            <if test="tempName != null">#{tempName},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="operationuser != null">#{operationuser},</if>
            <if test="operUsername != null">#{operUsername},</if>
        </trim>
    </insert>

    <update id="updateMarDemand" parameterType="MarDemand">
        update mar_demand
        <trim prefix="SET" suffixOverrides=",">
            <if test="corpCode != null and corpCode != ''">corp_code = #{corpCode},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="technologyDirection != null">technology_direction = #{technologyDirection},</if>
            <if test="demandYears != null">demand_years = #{demandYears},</if>
            <if test="education != null">education = #{education},</if>
            <if test="demandNumber != null">demand_number = #{demandNumber},</if>
            <if test="specificrequiRement != null">specificrequi_rement = #{specificrequiRement},</if>
            <if test="projectLocation != null">project_location = #{projectLocation},</if>
            <if test="address != null">address = #{address},</if>
            <if test="directWorklife != null">direct_worklife = #{directWorklife},</if>
            <if test="targetNumber != null">target_number = #{targetNumber},</if>
            <if test="importantLevel != null">important_level = #{importantLevel},</if>
            <if test="minSalary != null">min_salary = #{minSalary},</if>
            <if test="maxSalary != null">max_salary = #{maxSalary},</if>
            <if test="technicalRequirement != null">technical_requirement = #{technicalRequirement},</if>
            <if test="langue != null">Langue = #{langue},</if>
            <if test="demandPic != null and demandPic != ''">demand_pic = #{demandPic},</if>
            <if test="interviewer != null">interviewer = #{interviewer},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="specificLocation != null">specific_location = #{specificLocation},</if>
            <if test="attention != null">attention = #{attention},</if>
            <if test="ifLook != null">if_look = #{ifLook},</if>
            <if test="chsiFlag != null">chsi_flag = #{chsiFlag},</if>
            <if test="coopnature != null">coopnature = #{coopnature},</if>
            <if test="state != null">state = #{state},</if>
            <if test="closeDate != null">close_date = #{closeDate},</if>
            <if test="tempId != null">temp_id = #{tempId},</if>
            <if test="tempName != null">temp_name = #{tempName},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="operationuser != null">operationuser = #{operationuser},</if>
            <if test="operUsername != null">oper_username = #{operUsername},</if>
        </trim>
        where demand_id = #{demandId}
    </update>

    <delete id="deleteMarDemandById" parameterType="String">
        delete from mar_demand where demand_id = #{demandId}
    </delete>

    <delete id="deleteMarDemandByIds" parameterType="String">
        delete from mar_demand where demand_id in
        <foreach item="demandId" collection="array" open="(" separator="," close=")">
            #{demandId}
        </foreach>
    </delete>
    <select id="seluntreatedResume"  parameterType="String"  resultType="String">
        SELECT
            d.customer_name
        FROM
            mar_demand a
            LEFT JOIN mar_demandresume b ON a.demand_id = b.demand_id
            LEFT JOIN mar_demandresumefollow c ON b.id = demandresume_id
            AND b.newfollowtime = c.trackingtime
            LEFT JOIN per_customerinfo d ON b.customer_code = d.customer_code
        WHERE
            a.demand_id=#{demandId}
           and c.follow_status IN ( 1, 3, 5 )
    </select>
    <select id="selectMarDemandByName" parameterType="String" resultMap="MarDemandResult">
        <include refid="selectMarDemandVo"/>
        where project_name = #{projectName}
        limit 1
    </select>


    <select id="selectMarDemandbindingList" parameterType="Map" resultMap="MarDemandResult">
        SELECT d.audited_path as bz,b.* from mar_sign a LEFT JOIN mar_demand b on a.demand_id=b.demand_id
        LEFT JOIN mar_auditedtor_demand c on b.demand_id=c.demand_id
        LEFT JOIN  mar_auditeditor d on c.audited_id= d.audited_id
        where  1 = 1 and b.state=0
        <if test="deptId !=null">and a.dept_id = #{deptId} </if>
        <if test="projectName != null  and projectName != ''"> and b.project_name like concat('%', #{projectName}, '%')</if>
        <if test="technologyDirection != null  and technologyDirection != ''"> and b.technology_direction = #{technologyDirection}</if>
        <if test="demandYears != null  and demandYears != ''"> and b.demand_years = #{demandYears}</if>
        <if test="projectLocation != null  and projectLocation != ''"> and b.project_location = #{projectLocation}</if>
        <if test="importantLevel != null "> and b.important_level = #{importantLevel}</if>
        <if test="corpCode != null and corpCode != '' "> and b.corp_code = #{corpCode}</if>
         order by b.add_time desc

    </select>

    <select id="selectMarDemanddsaList" parameterType="Map" resultMap="MarrInfo">
        SELECT b.demand_id ,b.project_name from mar_sign a LEFT JOIN mar_demand b on a.demand_id=b.demand_id
        where  1 = 1 and b.state=0
        <if test="deptId !=null">and a.dept_id = #{deptId} </if>
    </select>


    <select id="selectMarDem" parameterType="Map" resultMap="Basic">
       SELECT c.customer_name,b.follow_status from  mar_demandresume a
        LEFT JOIN mar_demandresumefollow b on  a.id=b.demandresume_id and a.newfollowtime=b.trackingtime
        LEFT JOIN per_customerinfo c on a.customer_code=c.customer_code
        where a.demand_id=#{demandId} and a.bind_people=#{bindPeople}
    </select>

    <select id="selectmarDWorLitList" parameterType="Map" resultMap="MarDemandResult">
    select a.demand_id, a.corp_code,a.project_name,b.corp_name as address ,a.target_number,a.add_time, c.nus as demand_number,a.important_level  from mar_demand a
    LEFT JOIN mar_company b on a.corp_code=b.corp_code
	LEFT JOIN (SELECT f.demand_id,COUNT(f.id) as nus from mar_demandresume f  LEFT JOIN mar_demandresumefollow g
    on f.id=g.demandresume_id and f.newfollowtime=g.trackingtime
     LEFT JOIN mar_demand h on f.demand_id=h.demand_id
    where h.state=0 and  g.follow_status not in (4,6,8)
    GROUP BY f.demand_id
	) c on a.demand_id=c.demand_id
    where a.state=0 and a.operationuser=#{userName}
     order by a.add_time desc
    </select>

    <select id="selectdemandCooperationCompany"  parameterType="String" resultMap="MarDemandResult">
     select c.corp_code,c.transforming_people as operationuser,c.corp_name as project_name from
    (SELECT corp_code from mar_demand a
    where a.state=0 GROUP BY corp_code)b LEFT JOIN mar_company c on c.corp_code=b.corp_code
	where c.transforming_people=#{userName}
    </select>





</mapper>